*{
    padding: 0;
    margin: 0;
     box-sizing: border-box;
}
body{
    position: relative;
}
.modal {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/background-victory.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    background-position: center;
    
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.is-active{
    display: flex;

}
img{
    width: 200px;
}
.btnFechar{
    background-color: #081625;
    background-image: url(./assets/close.png);

    width: 43.17px;
    height: 43.17px;
    position: relative;
    top: -280px;
    right: -770px;
    border: 3px solid #081625;

}
.container{
            
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    text-align: center;
    color: #00C0DD;
    text-align: center;
    
}

h1{
    
    font-size: 100px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    
}