* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #0A1B2D;
}

.jmHeader {
    background-color: #081728;
    padding: 20px 200px;
    border-bottom: 4px solid #051222;
    color: #9FB5C9;
}

.jmTentativas {
    color: #9FB5C9;
    background-color: #0A1B2D;
    border: 2px solid #051222;
    margin: 0 auto;
    padding: 20px 33px;
    width: 240px;
    border-radius: 20px;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.jmGreen {
    display: flex;
    justify-content: center;
    color: #238E4B;
}

.jmH1 {
    display: flex;
    justify-content: center;
    color: #2B4056;
    font-family: Arial, Helvetica, sans-serif;
}

.jmPheader {
    margin-top: 9px;
    display: flex;
    justify-content: center;

}

.jmTermo {
    background-color: #081625;
    border: 3px solid #000612;
    border-radius: 10px;
    width: 380px;
    height: 350px;
    margin: 0 auto;
    margin-top: 30px;
}

.jmInput {
    color: #5D5D5D  ;
    border: 2px solid #2B4056;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 46px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #06111F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.jmBtnEnviar {
    border: 3px solid #06111F;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 300px;
    color: #081625;
    background-color: #2B4056;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}